* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100%;
    background-color: #fbf7fc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    background-color:#ffa6ff;
    color: #090808;
    padding: 20px;
    width: 100%;
    height: 170px;
  
  }
  
  
  /* Estilos para el menú de navegación en tamaños de vista normales */
  nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
  }
  
  nav ul li {
    display: inline;
    margin-right: 30px;
  }
  
  nav ul li a {
    color: #100101; /* Cambia el color del texto a blanco */
    text-decoration: none;
    transition: color 0.5s;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav ul li a:hover {
    color: #0b0b0b;
  }
  
  /* Media query para tamaños de vista móvil (hasta 768px, puedes ajustar el valor según tus necesidades) */
  @media screen and (max-width: 768px) {
   
    nav ul li {
      
      margin-right: 10px; /* Elimina el margen derecho en pantallas móviles */
      margin-bottom: 10px; /* Agrega un espacio entre cada elemento en pantallas móviles */
      font-size: 16px;
    }
  }
  @media screen and (max-width: 768px) {
    .logo img {
     
      width: auto;
    }
  }
  
  /* Estilos para el logo en tamaños de vista normales */
  .logo img {
    height: 100px;
    margin-top: 10px;
    padding-left: 300px;
    width: auto;
  }
  

  h1{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(2, 2, 2);
  }


  .logodani{

border-radius: 50%;
  }

p{
 text-align: center;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 20px;
  margin-bottom: 10px;
 min-width: 450px;
 max-width: 1500px;

}
 


footer{
  width: 70%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 20px;
  width: 100%;
 
}

.footer-logo img {
  width: 200px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

video{
  border-radius: 46px;
}







.final {
  padding-left: 100px;
  padding-right: 100px;
}

footer {
  padding: 10px;
  background-color: #e7d2f0;
  width: 100%;
}

.experiencia-texto{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Estilos para los enlaces en .footer-social y .footer-links */
.footer-social a,
.footer-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.footer-social a {
  margin: 0 5px;
}

.footer-social img {
  width: 30px;
  margin-right: 20px;
}

.footer-links {
  text-align: right;
}

.footer-links a {
  margin-left: 10px;
}

/* Media query para tamaños de vista móvil (hasta 768px, puedes ajustar el valor según tus necesidades) */
/* Estilos para los enlaces en .footer-social y .footer-links */
.footer-social a,
.footer-links a {
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-social a {
  display: block;
  margin: 5px auto;
}

.footer-social img {
  width: 30px;
  margin-right: 20px;
}

.footer-links {
  text-align: center;
}

.footer-links a {
  margin-left: 0;
  margin-right: 10px;
}

/* Media query para tamaños de vista móvil (hasta 768px, puedes ajustar el valor según tus necesidades) */
@media screen and (max-width: 768px) {
  .footer-social {
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-social a {
    margin: 5px auto;
  }

  .footer-social img {
    margin-right: 0;
  }

  .footer-links {
    text-align: center;
  }

  .footer-links a {
    margin-left: 0;
   
  }
  .footer-social img {
    width: 15px;
    margin-right: 20px;
  }

  .footer-logo img {
    height: 90px;
   padding: 10px;
    width: auto;
    margin-top: 10px; /* Agrega un margen superior para separar el logo de los enlaces */
  }

  .footer-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
  }

  footer{
    width: 100%;
  }
}


.download-button {
  display: inline-block;
  padding: 15px 20px 15px 30px;
  background-color: #08e0e4;
  color: #060606;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: color 0.3s;
  margin: 50px;
  border-radius: 10px;

}